.midSec img {
  width: 100%;
  text-align: center;
}
.midSec {
  width: 100%;
  position: absolute;
  text-align: center;
}

.content img {
  display: block;
}

.content:after {
  position: absolute;
  content: "";
  height: 798px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
}
.searchBox {
  border-radius: 15px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 914px;
  height: 106px;
  flex-shrink: 0;
  position: absolute;
  top: 400px;
  text-align: center;

  padding-left: 30px;
  margin-right: 20%;
  display: flex;
  padding-top: 25px;
  justify-content: flex-end;
}

.sin {
  width: 100px;
  border-radius: 10px;
  border: 0.5px solid #4d4d4d;
  background: transparent;
  width: 319px;
  height: 51px;
  padding-top: 15px;
  margin-inline: 10px;
  padding-left: 30px;
}

.date {
  display: flex;
  margin-inline: 20px;
  padding-left: 5px;
  justify-content: space-around;
  flex-direction: row;
}

.sbtn {
  border-radius: 10px;
  background: #7dd3ea;
  width: 197px;
  height: 51px;
  flex-shrink: 0;
  color: #000;
  text-align: justify;

  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 15px;
  padding-right: 30px;
}

.hotelscard {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 20px;
  margin-right: 130px;
}

.fimg {
  width: 400px;
}

.midsec {
  display: flex;
  margin-top: 150px;

  margin-left: 30px;
}

.fillternav {
  padding-top: 50px;
  padding-right: 350px;
}
