.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar li:not(:last-child) {
  border-left: 1px solid #616161;
}
.navbar li a {
  width: 100;
  padding: 14px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .navbar {
    opacity: 0;
  }
}
