.hotelscard {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  padding-right: 10%;
  text-align: center;
  margin-right: 19%;
  margin-top: 70px;
}

.top {
  margin-top: 150px;
}

.top1 {
  margin-top: 70px;
  padding-right: 20.5%;
  margin-right: 10%;
}
