.animatedelement1 {
  width: 500px;
  top: 300px;

  border-radius: "20px";

  margin-block: "5px";

  animation: slideIn 1s ease-in-out; /* Animation name, duration, and easing */
}

.animatedelement2 {
  width: "500px";
  border-radius: "20px";

  margin-block: "5px";
  top: 800px;

  animation: slideIn 2s ease-in-out; /* Animation name, duration, and easing */
}

.animatedelement3 {
  width: "500px";
  border-radius: "20px";
  position: absolute;
  margin-block: "5px";
  top: 1300px;

  animation: slideIn 3s ease-in-out; /* Animation name, duration, and easing */
}

.animatedelement4 {
  width: "500px";
  border-radius: "20px";

  top: 1800px;
  margin-block: "5px";

  animation: slideIn 4s ease-in-out; /* Animation name, duration, and easing */
}

.animatedelement5 {
  width: 500px !important;
  border-radius: "20px";
  top: 1300px;

  margin-block: "5px";

  top: 2300px;
  padding-inline: "400px";

  animation: slideIn 5s ease-in-out; /* Animation name, duration, and easing */
}

.cc {
  padding-right: 100px;
}

.cc2 {
  padding-right: 500px;
}

.cflex {
  display: flex;
  align-items: center;
  padding-right: 150px;
}

.container {
  margin-top: 100px;
}
