@font-face {
  font-family: "Aria-regular";
  src: url("assets/fonts/Aria-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Aria-ultraBold";
  src: url("assets/fonts/Aria-UltraBold.ttf") format("truetype");
}
